certifi==2020.12.5
cycler==0.10.0
filterpy==1.4.5
kiwisolver
matplotlib
numpy
olefile
pandas==1.2.1
patsy==0.5.1
Pillow 
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyquaternion==0.9.9
python-dateutil==2.8.1
pytz 
scipy
six
statsmodels 
toml 
tornado 